.wrapper {
  display        : flex;
  justify-content: center;
  align-items    : center;
  flex-direction : column;
}

.buttons {
  display        : flex;
  flex-direction : row;
  justify-content: center;
  gap            : 4vw;
}

.intern-list {
  display              : grid;
  grid-template-columns: auto auto auto;
  row-gap              : 3vh;
  column-gap           : 5vw;
}

.input-fields {
  display        : flex;
  flex-direction : column;
  justify-content: center;
  gap            : 4vh;
}
