form {
  display        : flex;
  flex-direction : column;
  justify-content: center;
  align-items    : center;
  gap            : 4vh;
}

.wrapper {
  display        : flex;
  justify-content: center;
  align-items    : center;
  flex-direction : column;
  min-height     : 100vh;
  height         : auto;
  background     : rgb(138, 174, 217)
}

.btn {
  color     : black;
  background: yellow;

}

.row-flex {
  display        : flex;
  justify-content: center;
  align-items    : center;
  gap            : .6vw;
}

.btn:hover {
  color     : yellow;
  background: black;
}
